*{
    margin: 0px;
    padding: 0px;
    
}

#container1{
    background: #f9f7f7;
    width: 460px;
    height: 370px;
    margin: auto;
    margin-top: 100px;
    
}

#form1{
    padding: 50px 20px 10px 20px;
    width: 100%;
    box-sizing: border-box;
    
}

#Error{
    margin: auto;
    text-align: center;
    padding: 50px 20px 10px 20px;
    font-size: 40px;
    
}

#container1 h1{
    text-align: center;
    padding-top: 20px;
    color: #566573;
    font-size: 45px;
}

#form1 input[type="text"],
#form1 input[type="password"]{
    border: none;
    background: none;
    width: 90%;
    height: 50%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

*:focus{
    outline: none;
    
}

#form1 input[type="submit"]{
    width: 100%;
    height: 40px;
    background: #1b4f72;
    color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 900;
      
}

#form1 input[type="submit"],
#form2 input[type="submit"]:hover{
    border-radius: 8px;
}


#form1 input[type="submit"]:hover{
    background: #3498db;    
}

#form1 hr{
    margin-bottom: 40px;
    color: #aed6f1;
        
}

#container2{
    
    background: #f9f7f7;
    width: 460px;
    height: 140px;
    margin: auto;
    margin-top: 10px;    
}

#form2{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    
       
}

#form2 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 25px;
    color: #1b4f72;
}

#form2 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* 
#menu{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    
}
*/


/*Estilos para Registros
*/

#container3{
    
    background: #f9f7f7;
    width: 460px;
    height: 75px;
    margin: auto;
    margin-top: 100px;    
}

#container3 h1{
    text-align: center;
    padding-top: 20px;
    color: #566573;
    font-size: 25px;
}

#container4{
    background: #FF9275;
    width: 460px;
    height: 110px;
    margin: auto;
    margin-top: 10px;
}

#form4{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    
       
}

#form4 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 25px;
    color: #1b4f72;
}

#form4 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}


#container5{
    
    background: #8EE5E3;
    width: 460px;
    height: 110px;
    margin: auto;
    margin-top: 10px;    
}

#form5{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    
       
}

#form5 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 25px;
    color: #1b4f72;
}

#form5 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}

#container6{
    background: #FACE23;
    width: 460px;
    height: 110px;
    margin: auto;
    margin-top: 10px;
}

#form6{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    
       
}

#form6 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 25px;
    color: #1b4f72;
}

#form6 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}

#container7{
    
    background: #FF9275;
    width: 600px;
    height: 450px;
    margin: auto;
    margin-top: 80px;    
}

#container7 h1{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
    font-size: 45px;
}

#container7 h2{
    text-align: center;
    padding-top: 10px;
    color: #566573;
    font-size: 15px;
}

#form7{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
    color: #566573;
    
       
}

#form7 input[type="submit"]{
    width: 100%;
    height: 30px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 15px;
    color: #1b4f72;
}

#form7 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}

#container8{
    
    background: #FF9275;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 80px;    
}

#container8 h1{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
    font-size: 45px;
}

#container8 h2{
    text-align: center;
    padding-top: 10px;
    color: #566573;
    font-size: 15px;
}

#form8{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
    color: #566573;
    
       
}

#form8 input[type="submit"]{
    width: 100%;
    height: 30px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 15px;
    color: #1b4f72;
}

#form8 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}

#container9{
    
    background: #8EE5E3;
    width: 600px;
    height: 450px;
    margin: auto;
    margin-top: 80px;    
}

#container9 h1{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
    font-size: 45px;
}

#container9 h2{
    text-align: center;
    padding-top: 10px;
    color: #566573;
    font-size: 15px;
}

#form9{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
    color: #566573;
    
       
}

#form9 input[type="submit"]{
    width: 100%;
    height: 30px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 15px;
    color: #1b4f72;
}

#form9 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}

#container10{
    
    background: #FACE23;
    width: 600px;
    height: 480px;
    margin: auto;
    margin-top: 80px;    
}

#container10 h1{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
    font-size: 45px;
}

#container10 h2{
    text-align: center;
    padding-top: 10px;
    color: #566573;
    font-size: 15px;
}

#form10{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
    color: #566573;
    
       
}

#form10 input[type="submit"]{
    width: 100%;
    height: 30px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 15px;
    color: #1b4f72;
}

#form10 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}


#container11{
    
    background: #f9f7f7;
    width: 460px;
    height: 120px;
    margin: auto;
    margin-top: 100px;    
}

#container11 h1{
    text-align: center;
    padding-top: 20px;
    color: #566573;
    font-size: 45px;
}

#container12{
    
    background: #f9f7f7;
    width: 460px;
    height: 110px;
    margin: auto;
    margin-top: 10px;    
}

#form12{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;       
}

#form12 input[type="submit"]{
    width: 100%;
    height: 60px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 25px;
    color: #1b4f72;
}

#form12 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}

#container13{
    
    background: #FF9275;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 80px;    
}

#container13 h1{
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
    font-size: 45px;
}

#container13 h2{
    text-align: center;
    padding-top: 10px;
    color: #566573;
    font-size: 15px;
}

#form13{
    width: 100%;
    padding: 23px 20px 0px 20px;
    box-sizing: border-box;
    font-family: Helvetica;
    text-align: center;
    font-size: 20px;
    color: #566573;
    
       
}

#form13 input[type="submit"]{
    width: 100%;
    height: 30px;
    background: white;
    border: 2px solid white;
    cursor: pointer;
    font-size: 15px;
    color: #1b4f72;
}

#form13 input[type="submit"]:hover{
    background: #3498db;
    color: white;
}